{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

    <h1>Bienvenue sur la Home du tournoi d'echecs</h1>
    <img src="https://images.chesscomfiles.com/uploads/v1/article/27319.746c2259.668x375o.c6cf8543e2d5@2x.png" alt="chess" width="400px" height="200px" />

{% endblock %}
